.primaryBtn{
    padding: 18px 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    min-width: 220px;
    cursor: pointer;
}
.outlineBtn{
    padding: 18px 10px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    min-width: 220px;
    margin-top: 17px;
    width: 100%;
}